
h1{
    /* height */
    height: 50px;

    /* width */
    width: 800px;

    /* border */
    border: 20px solid black;
   
    /* /border-radius */
    border-radius: 50px;

    /* padding */
    padding: 10px 5px 3px 1px;

    text-shadow: ;
 background-color:burlywood;
}