https://youtu.be/OnvAvtqKD6M?si=vijAT7D3QPW5oN6M/* 96px = 1 inch = 2.54cm */

/* line-height */

h3{
    line-height: 8px;
}
/* text-transform */
p{
    text-transform: uppercase;
}

https://youtu.be/OnvAvtqKD6M?si=vijAT7D3QPW5oN6M
